<tr id="test_<%= test.id %>" class="<%= "table-danger" unless test.pass?  %>">
  <th>
    <%= test.name %>
    <p><small>
      Browser: <%= test.browser %><br>
      Plaform: <%= test.platform %><br>
      Size: <%= test.width %>
    </small></p>
  </th>
  <td><%= link_to(image_tag(test.screenshot_baseline_thumbnail_url), test.screenshot_baseline.url) unless test.screenshot_baseline.nil? %></td>
  <td><%= link_to(image_tag(test.screenshot_thumbnail_url), test.screenshot.url) unless test.screenshot.nil? %></td>
  <td><%= link_to(image_tag(test.screenshot_diff_thumbnail_url), test.screenshot_diff.url) unless test.screenshot_diff.nil? %></td>
  <td>
    <span class="label label-<%= test.pass? ? 'success' : 'danger' %>"><%= test.pass? ? 'Passed' : 'Failed' %></span>
    <% if !test.baseline && test.screenshot %>
      <br><br><%= link_to("Set as baseline", test_url(test, baseline: true), method: 'put', class: 'btn btn-secondary btn-sm') %>
    <% end %>
  </td>
</tr>
