<tr id="test_<%= test.id %>" class="<%= "table-danger" unless test.pass?  %>">
  <th>
    <%= test.name %>
    <p><small>
      Browser: <%= test.browser %><br>
      Plaform: <%= test.platform %><br>
      Size: <%= test.size %><br>
      <%= link_to('Go to URL', test.url) unless test.url.blank? %>
    </small></p>
  </th>
  <td><%= link_to(thumbnail(test.screenshot_baseline_thumbnail), test.screenshot_baseline.url) unless test.screenshot_baseline.nil? %></td>
  <td><%= link_to(thumbnail(test.screenshot_thumbnail), test.screenshot.url) unless test.screenshot.nil? %></td>
  <td><%= link_to(thumbnail(test.screenshot_diff_thumbnail), test.screenshot_diff.url) unless test.screenshot_diff.nil? %></td>
  <td>
    <span class="label label-<%= test.pass? ? 'success' : 'danger' %>"><%= test.pass? ? 'Passed' : 'Failed' %></span>
    <% if test.five_consecutive_failures %>
      <span class="label label-warning">Consistently failing test</span>
    <% end %>
    <% if !test.baseline && test.screenshot %>
      <%= form_for(test, remote: true) do |f| %>
        <%= f.hidden_field :baseline, value: true %>
        <%= f.submit 'Update baseline', class: 'btn btn-secondary btn-sm' %>
      <% end %>
    <% end %>
  </td>
</tr>
